.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100dvh;
  z-index: 10;
  display: flex;
}

.menu {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  border-right: solid 2px white;
 box-shadow: 2px 0px 10px white;
 width: 100%;
}

.menu_section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
width: 100%;
padding: 0 1rem;


}

.menu_section_models_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu_section_colors_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}



.zoom_input_container {

  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
  gap: 1rem;
}

.zoom_input {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoom_input_symbol {
  display: flex;
  justify-content: space-between ;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;

}

@media screen and (min-width : 768px) {
  .menu_mobile_buttons {
    display: none;
  }   
}

.menu_title {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  max-width: 100%;
  font-family: var(--font-pixel-sans);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
}

.menu_board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.menu_options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.menu_section_title {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--font-pixel-sans);
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

.menu_section_title:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}



.options_items {
  font-size: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  
  gap: 0.5rem;
}

.options_items_grid {

  display: flex;
  align-items: center;
  gap: 1rem;
}

.options_labels {
  font-family: var(--font-pixel-sans);
  color: white;
  font-size: 1.5rem;

}

.roomID_container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  
}

.options_labels_roomID {
  display: inline-block;
  max-width: 80%; /* Empêche de dépasser la largeur parent */
  white-space: nowrap; /* Empêche le retour à la ligne */
  overflow: hidden; /* Masque le texte dépassant */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: var(--font-pixel-sans);
  text-align: start;
}



.roomID_input{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.roomID_copyButton {
  cursor: pointer;
  border: solid 2px white;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  transition: all 300ms ease-in-out;
  border-radius: 10px;
  padding: 0.5rem;
}

.roomID_copyButton:hover {
  cursor: pointer;
  border: solid 2px #5cff35;
  filter: drop-shadow(0px 0px 3px #5cff35);
  
}



.options_icons {
  filter: drop-shadow(0px 0px 3px white);
}

.items_slider {

  width: 80%;
  filter: drop-shadow(0px 0px 3px #5cff35);
  margin-bottom: 10px;
  
}

.items_slider.zoom {
 width: 78%;
}



.items_input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 5rem;
  background-color: transparent;
  color: white;
  border: solid 2px white ;
  font-family: var(--font-pixel-sans);
  border-radius: 10px;
}

.board_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.mode_button_container {
 display: inline-flex;
 border:  solid 2px rgb(255, 255, 255);
 border-radius: 10px;
 overflow: hidden;


}

.mode_button {
font-size: 1.5rem;
padding: 1rem 1rem;
transition: all 200ms ease-in-out;
color: white;
font-family: var(--font-pixel-sans);
background-color: transparent;
border: none;
}

.mode_button:hover {
  color: #5cff35;
  cursor: pointer;
}


 .selected {
  background-color: #5cff35;
  color: black;
}

.selected:hover {
  color: black;
  cursor: pointer;
}

.hideGrid_button {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  border: 2px solid white;
  font-family: var(--font-pixel-sans);
  border-radius: 10px;
  background-color: transparent;
  color: white;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(0px 0px 3px white);
}

.hideGrid_button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

.run_button {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  font-family: var(--font-pixel-sans);
  color: #5cff35;
  border: 2px solid #5cff35;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(0px 0px 3px #5cff35);
}

.run_button:hover {
  background-color: #5cff35;
  color: black;
  cursor: pointer;
}

.reset_button {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  font-family: var(--font-pixel-sans);
  color: rgb(230, 41, 255);
  border: 2px solid rgb(230, 41, 255);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(0px 0px 3px rgb(230, 41, 255));
}

.reset_button:hover {
  background-color: rgb(230, 41, 255);
  color: black;
  cursor: pointer;
}

.clear_button {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  font-family: var(--font-pixel-sans);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.clear_button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.socketInputField {
  font-size: 1.1rem;
  color: #5cff35;
  font-family: var(--font-pixel-sans);
  background-color: transparent;
  border: none;
  border-bottom: solid 2px white;
  width: 80%;
}
.isConnected {
  color: #5cff35;
}
.notConnected {
  color: #e629ff;
}

@media screen and (max-width : 1024px ) {
  
  .menu_container {
width: 80vw;
height: 100vh;
transition: transform 200ms ease-in-out;

  }

  .menu {
    border-right: solid 2px white;
    box-shadow: none;
  }

  .menu_section {
    padding: 0;
  } 

  .menu_section_models_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .hidden {
transform: translateX(-100%);
  }



  .menu_mobile_buttons {
 position: absolute;
 top: 0;
 right: -25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.2rem;
    color: black;
    width: 25%;
    height: 10%;
    

    
  }

  .mobile_run_button {
    width: 100%;
    color: #5cff35;
    font-family: var(--font-pixel-sans);
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    border: solid 2px #5cff35;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none; 
    min-height: 50px;
    filter: drop-shadow(0px 0px 3px #5cff35); 
  }

  

  .mobile_menu_button {
    background-color: black;
    border: solid 2px white; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none; 
    width: 100%;
    min-height: 50px;
   
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  }
  .mobile_reset_button {
    width: 100%;
    color: #e629ff;
    font-family: var(--font-pixel-sans);
    text-transform: uppercase;
    font-size: 1rem;
    border: solid 2px #e629ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none; 
    background-color: black;
    min-height: 50px;
    filter: drop-shadow(0px 0px 3px #e629ff)
  }

  .mobile_clear_button {
    width: 100%;
    color: #4bd5ff;
    font-family: var(--font-pixel-sans);
    text-transform: uppercase;
    font-size: 1rem;
    border: solid 2px #4bd5ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none; 
    background-color: black;
    min-height: 50px;
    filter: drop-shadow(0px 0px 3px #4bd5ff)
  }

  .board_buttons {
    display: none;
  }

  .socketInputField {

    width: 70%;
  }
}