.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  z-index: 10;
  display: flex;

}

.menu {
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: thin;

}

.menu_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
width: 100%;
}

.menu_section_models_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.zoom_input_container {
  position: fixed;
  width: 60%;
  bottom: 20px;
  right: 10px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 1.1rem;
  gap: 1rem;
}

.zoom_input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.zoom_input_symbol {
  display: flex;
  justify-content: space-between ;
  font-size: 1.5rem;
  font-weight: bold;

}



@media screen and (min-width : 768px) {
  .menu_mobile_buttons {
    display: none;
  } 
  
}



.menu_title {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  max-width: 100%;
}

.menu_board {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.menu_options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.menu_section_title {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.options_items {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.items_slider {

  width: 100%;
}

.items_input {
  padding: 0.5rem;
  width: 5rem;
}

.board_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mode_button_container {
 display: inline-flex;
 border: 1px solid lightgray;
 border-radius: 10px;
 overflow: hidden;


}

.mode_button {
padding: 0.5rem 1rem;
transition: all 200ms ease-in-out;
color: dimgray;
background-color: lightgray;
border: none;
}

.mode_button:hover {
  color: darkblue;
}


 .selected {
  background-color: royalblue;
  color: white;
}

.hideGrid_button {
  padding: 1rem 0.5rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.run_button {
  padding: 1rem;
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.run_button:hover {
  background-color: darkgreen;
}

.reset_button {
  padding: 1rem;
  background-color: red;
  color: white;
  border: 1px solid darkred;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.reset_button:hover {
  background-color: darkred;
}

.clear_button {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(97, 97, 97);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.clear_button:hover {
  background-color: rgb(97, 97, 97);
}

@media screen and (max-width : 768px ) {
  
  .menu_container {
width: 80vw;
height: 100vh;
transition: transform 200ms ease-in-out;

  }

  .hidden {
transform: translateX(-100%);
  }




  .menu_mobile_buttons {
 position: absolute;
 top: 0;
 right: -25%;
    background-color: rgb(54, 54, 54);
    color: black;
    width: 25%;
    height: 10%;
    

  }

  .mobile_run_button {
    width: 100%;
    background-color: green;
    min-height: 50px;
  }

  .mobile_menu_button {
    width: 100%;
    min-height: 50px;
  }
  .mobile_reset_button {
    width: 100%;
    background-color: red;
    min-height: 50px;
  }

  .board_buttons {
    display: none;
  }
}