.tutorial_page__dialogs_box{
  position: fixed;
  bottom: 5rem;
  left : 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 10px;
  min-height: 10%;
  padding: 0 1rem;
  padding-top: 1rem;
  background-color: black;
}
.tutorial_page__dialogs_box:hover{
  cursor: pointer;
}

.tutorial_page__dialog{
  color: white;
  font-family: var(--font-pixel-sans);
  font-size: 1.5rem; 
  padding-bottom: 2rem;
}

.tutorial_page__dialogs_box__nextbutton{
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15px;
  height: 15px;
  color: white;
  font-family: var(--font-pixel-sans);
  font-size: 1rem;
  font-weight: bold;
}