
  @keyframes shinelogointro {
    0% {
      filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
    }
    50% {
      filter: drop-shadow(0px 0px 4px #5cff35 );
    }
    100% {
      filter : drop-shadow(0px 0px 4px rgb(255, 255, 255));
    }
  }

.game-title {
  font-size: 4rem;
  font-weight: 400;
  color: white;
  font-family: var(--font-pixel-sans);
  filter: drop-shadow(0px 0px 4px white);
  animation: shinelogointro 4s linear 0s infinite normal forwards;
  letter-spacing: 0px;
}

@media screen and (min-width : 768px) {
  .game-title {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    font-family: var(--font-pixel-sans);
    filter: drop-shadow(0px 0px 4px white);
    animation: shinelogointro 4s linear 0s infinite normal forwards;
    letter-spacing: 10px;
  }
}