.confirm_modal {
  position: fixed;
  top: 50vh;

  left: 50vw;
  width: 30vw;
  
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
 align-items: center;
 gap : 1rem
}

.canvas_container {
width: fit-content;
}
